button{
  background-color: #56baed; 
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.greenButton{
  background-color: #27EB7B;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:default;
}

.requestSent{
  background-color: #56baed; 
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonpadding{
	padding-right: 2%;
}

.teamstyle {
	color: #000000;
    display: inline-block;
	font-size: 22px;
	padding-left: 7%;
	padding-top: 1%;
}

.boxpadding{
	padding-left:0.5%;
}

.border{
	background-color: #86d3ee;
	color: #000000;
	height: 70%;
}

.commentborder{
	border: 2px solid black;
	width: 80%;
}

.commentpadding{
	padding-top: 2%;
	padding-left: 1%;
	padding-right: 1%;
}

.t-border{
	background-color: #86d3ee;
	color: #000000;
	width: 30%;
	padding-left: 2%;
	padding-right: 2%;
}

.padding{
	padding-top: 2%;
	padding-left: 6%;
	padding-right: 5%;
}


