<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/bulma.css" rel="stylesheet" />
    <link href="/global.css" rel="stylesheet" />
    <link href="/course.css" rel="stylesheet" />
</head>
<body>
    <form action="#" method="post" th:action="@{/create-course}" th:object="${Course}" autocomplete="off">
        <input type="text" th:name="course_code" placeholder="Course Code">

        <input type="submit" value="Create Course">
    </form>

    <h3>Course List</h3>
    <tr th:each="course: ${courses}">
        <td th:text="${course.getCourseCode()}" /><br>
        <td
    </tr>
</body>
</html>