<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Course</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link href="/bulma.css" rel="stylesheet" />
<link href="/global.css" rel="stylesheet" />
<link href="/course.css" rel="stylesheet" />
</head>

<body>
	<div th:insert="navbar :: navbar"></div>
	<div>
		<a th:text="${courseInfo}" class="teamSetup" th:class="title"></a> 
		<a th:unless="${isStudent}" href="../setup-team"
			class=" column teamSetup">Setup Team Parameters</a>
		<hr>


		<div class="columns padding">
			<div class="column">
				<div th:if="${isStudent}">
					<div th:if="${hasTeam}">
						<div class="columns">
							<div class="column">
								<p class="teamtitlestyle">Your Team:</p>
								<br> <a th:if="${team.team_name}"
									th:text="${team?.team_name}"
									th:href="@{/team/(team_id = ${team?.team_id})}"
									th:class="teamstyle"></a><br>
							</div>
						</div>
						<br> <br>
						<div class="column border">
							<p class="discussion">Discussion</p>
							<p></p>
							<a href="/thread" class="teamstyle" th:text="${thread.body_text}">Thread</a>
						</div>
					</div>
					
					<div th:unless="${hasTeam}">
						<div class="columns">
							<div class="column">
								<form action="#" method="post" th:action="@{/create-team}"
									th:object="${Team}" autocomplete="off">
									<input th:name="team_name" type="text" class="addTeam"
										placeholder="Enter a Team Name"> <br> <input
										type="submit" class="submitTeam" value="Register Team">
								</form>
								<p class="teamtitlestyle">View Available Teams</p>
								<br>
								<div class ="t-border">
									<tr th:each="team: ${availableTeams}" th:class="teamstyle">
										<td><a th:text="${team?.team_name}"
											th:href="@{/team/(team_id = ${team.team_id})}"
											th:class="teamstyle"></a></td>
											<br>
									</tr>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:unless="${isStudent}">
					<div class="columns">
						<div class="column">
							<p class="teamtitlestyle">All Teams</p>
							<br>
							<div class ="t-border">
								<tr th:each="team: ${sectionTeams}" th:class="teamstyle">
									<p>
										<a th:text="${team?.team_name}"
											th:href="@{/team/(team_id = ${team.team_id})}"
											th:class="teamstyle"></a>
									</p>
									<br>
								</tr>
							</div>
						</div>
					</div>

				</div>
			</div>
</body>

</html>