<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>


	<body>
		

	<form action="#" th:action="@{/login}" 
		method="get" 
		th:object="${User}">
		<p> enter name </p>
		<input type="text" th:name="name">
		<input type="submit">
	</form>
	
		<p th:if="${name != null}"> This page has a param called 'name', w/ a default value of 'person'. Try adding
			a value as a parameter, like /login?name=world </p>
		<p th:text="${name}"> </p>
	</body>
	
</html>