<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/login.css" rel="stylesheet" />
</head>


<body>

	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<h2 class="inactive underlineHover"><a href="#">Sign In</a></h2>
			<h2 class="active">Sign Up</h2>

			<!-- Login Form -->
			<form action="#" method="post" th:action="@{/login-attempt}" th:object="${User}" autocomplete="off">
				<input type="text" id="login" class="second" th:name="email"
					placeholder="email"> 
					
				<input type="password" id="password"
					class="third" th:name="password" placeholder="password">
					
				<input
					type="submit" class="fourth" value="Log In">
			</form>
		</div>
	</div>

</body>

</html>