<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Teams</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	
	<link href="/bulma.css" rel="stylesheet" />
	<link href="/global.css" rel="stylesheet" />
	<link href="/team.css" rel="stylesheet" />
</head>

<body>
	<nav class = "navbar navbackground">
		<div class="navbar-start">
			<a href="/" class="navbar-item navstyle">
		      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
		    </a>
		</div>
		
		<div class="navbar-end">
		        <a href="login" class="nav-item navstyle">
		      		login
		    	</a>
		    	<a href="logout" class="nav-item navstyle">
		      		logout
		    	</a>
		 </div>
		
	</nav>
	
	<div>
	
		<a th:text="${team?.team_name}" th:class="title"/>
		<div class="columns">
		 	<div class="column"> 
				<div class="columns">
				 	<div class="column"> 
				     <p class="teamstyle">Captain: <span th:text="${captain}"></span></p>
				 	</div>
					<div class="column">
						<p>Join Requests</p>

						<div class="column border">
							<tr th:each="student: ${joinRequests}">
								<a  th:text="${student.key}" th:href="@{/confirm-join/(user_id = ${student.value.user_id})}" th:class="teamstyle" /><br>
							</tr>
						</div>
					</div>
				</div>
			</div>
		</div>
				 <div class="columns">
				 	<div class="column"> 
						 <p class="teamstyle buttonpadding">Team Members</p>
						 <button type="button">Add Members</button>
						 <button type="button">Edit</button>
						<div th:if="${isStudent}">
							<div th:unless="${hasTeam}">
								<div th:if="${hasRequested}">
									<button type="button" class="greenButton">Join Request Sent</button>
								</div>
								<div th:unless="${hasRequested}">
									<form action="#" method="post" th:action="@{/join-team}" th:object="${team}" autocomplete="off">
										<input type="submit" value="Request To Join" class="button">
									</form>
								</div>
							</div>
						</div>
					</div>
				 </div>
				 <div class="columns padding">
				 	<div class="column border">
						<tr th:each="member: ${members}">
							<td th:text="${member}"/><br>
						</tr>
				 	</div>
				 </div>



				 <div class="columns padding">
				 	<div class="column border">
				     	<a th:href="@{/thread}" th:text="${thread.title}">Thread</a>
				     	<div class="columns">
						 	<div class="column">
								<p th:text="${thread.body_text}">Body</p>
							     <div class="columns commentpadding">
								 	<div class="column border">
										<p th:text="${comment.body_text}">comment 1</p>
								 	</div>
								 </div>
								 <br>
						 	</div>
						 </div>
				 	</div>
				 </div>
			</div>
		</div>
	<br><br>
	</div>
</body>
