<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>???Team</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	
	<link href="/bulma.css" rel="stylesheet" />
	<link href="/global.css" rel="stylesheet" />
	<link href="/team.css" rel="stylesheet" />
</head>

<body>
	<nav class = "navbar navbackground">
		<div class="navbar-start">
			<a href="#" class="navbar-item navstyle">
		      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
		    </a>
		</div>
		
		<div class="navbar-end">
		        <a href="login" class="nav-item navstyle">
		      		login
		    	</a>
		    	<a href="logout" class="nav-item navstyle">
		      		logout
		    	</a>
		 </div>
		
	</nav>
	
	<div>
	
		<a class="title">???Team</a>
		<div class="columns">
		 	<div class="column"> 
				<div class="columns">
				 	<div class="column"> 
				     <p class="teamstyle">Captain: ???name</p>
				 	</div>
				 </div>
				 <div class="columns">
				 	<div class="column"> 
				     <p class="teamstyle buttonpadding">Team Members</p>
				     <button type="button">Add Members</button>
				     <button type="button">Edit</button>
				 	</div>
				 </div>
				 <div class="columns padding">
				 	<div class="column border"> 
				     <p class="teamstyle boxpadding">???team members</p>
				 	</div>
				 </div>
				 <div class="columns padding">
				 	<div class="column border"> 
				     	<a href="thread" class="teamstyle boxpadding">Thread</a>
				     	<div class="columns">
						 	<div class="column"> 
							     <p class="teamstyle boxpadding">???Body</p>
							     <div class="columns commentpadding">
								 	<div class="column border"> 
								     <p class="teamstyle boxpadding">???comment 1</p>
								 	</div>
								 </div>
								 <div class="columns commentpadding">
								 	<div class="column border"> 
								     <p class="teamstyle boxpadding">???comment 2</p>
								 	</div>
								 </div>
								 <p></p>
						 	</div>
						 </div>
				 	</div>
				 </div>
			</div>
		</div>
	</div>
</body>
