<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>???thread title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	
	<link href="/bulma.css" rel="stylesheet" />
	<link href="/global.css" rel="stylesheet" />
	<link href="/thread.css" rel="stylesheet" />
</head>

<body>
	<div th:insert="navbar :: navbar"></div>
	
	<div>
	
		<a class="title">???thread title</a>
		<div class="columns">
			<div class="column"> 
				<p class="teamstyle padding">???Body</p>
				<div class="columns commentpadding">
					<div class="column border"> 
						<p class="teamstyle boxpadding">???comment 1</p>
					</div>
				</div>
				<div class="columns commentpadding">
					<div class="column border"> 
						<p class="teamstyle boxpadding">???comment 2</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
