<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thread</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	
	<link href="/bulma.css" rel="stylesheet" />
	<link href="/global.css" rel="stylesheet" />
	<link href="/thread.css" rel="stylesheet" />
</head>

<body>
	<div th:insert="navbar :: navbar"></div>
	
	<div>

		<p class="title" th:text="${thread.title}">Thread</p>
		<div class="columns">
			<div class="column">
				<p class="teamstyle padding">Description:</p>
				<p class="teamstyle padding" th:text="${thread.body_text}"></p>
				<div class="columns commentpadding">
					<div class="column border">
						<p class="teamstyle padding" th:text="${comment.author}"></p>
						<p class="teamstyle padding" th:text="${comment.body_text}">comment 1</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
